:root {
	--basic-red: #ee3643;
	--special-red: #ba2732;
	--dark-red: #b52933;
	--red-darker: #8e1d26;

	--special-yellowlight: #ffd180;
	--special-yellow: #ffbf47;
	--special-yellow-dark: #ffc047;

	--basic-green: #63a63e;
	--special-green: #8ed78f;
	--light-green: #5fbb2d;
	--scale-green: #3ed492;
	--dark-green: #367315;
	--military-green: #518534;

	--basic-greylight: #c5c5c5;
	--shadow-white: #f4f4f4;
	--border-white: #eaeaea;
	--white: #ffffff;
	--cream-white: #f3f7f9;
	--cream-white-2: #f2f6f8;
	--basic-cream: #f7f3ec;
	--light-grey: #f3f7f8;
	--special-grey: #e5e5e5;
	--special-biege: #f9f5f0;
	--grey-toggle: #ababab;
	--grey-box: #b5b5b5;
	--grey: #a9a9a9;
	--scale-grey: #d7dcde;
	--blue-grey: #f1f5f7;

	--special-pink: #dc91d8;

	--special-blue: #3bbce3;
	--fill-navy: #3d546f;
	--basic-navy: #32425c;
	--dark-navy: #293449;
	--shadow-navy: #405069;
	--deep-navy: #1d2739;
	--dark-navy-deeper: #161d29;
	--navy-black: #212a3a;
	--shadow-lightgrey: rgba(255, 255, 255, 0.5);
	--lightshadow-lightgrey: rgba(255, 255, 255, 0.3);
	--dark-grey-transparent: rgba(169, 169, 169, 0.3);
	--brown-grey-transparent: rgba(197, 197, 197, 0.3);
	--black-transparent: rgba(0, 0, 0, 0.3);
	--shadow-grey: rgba(0, 0, 0, 0.15);

	--black: #000000;
}

body {
	min-width: 940px;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	background-color: var(--white);
	line-height: 24px;
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

img {
	max-width: 100%;
	height: auto;
}

/* === Basic Wrapper === */

.container {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}
/* === / Basic Wrapper === */

/* === Visually Hidden Objects === */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* === / Visually Hidden Objects === */

/* === New Label === */

.new {
	position: relative;
}

.new::after {
	content: '';
	position: absolute;
	background-image: url('../img/icons/new.svg');
	width: 70px;
	height: 70px;
	top: 0;
	right: 0;
	z-index: 50;
}

/* === / New Label === */

/* === Modal Windows === */

.added-to-cart,
.contact-form-window,
.big-map {
	display: none;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.modal-show {
	display: block;
	animation: zoom 0.4s;
}

.modal-close {
	animation: zoom-out 0.4s;
}

.modal-error {
	animation: shake 0.6s;
}

/* === / Modal Windows === */

/* === Header === */

.header {
	background-color: var(--light-grey);
	min-height: 320px;
}
.header-line {
	width: 100%;
	background-color: var(--dark-navy);
	min-height: 42px;
}

.header-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo-technomart {
	box-sizing: border-box;
	min-width: 220px;
	padding-top: 13px;
	padding-right: 56px;
	padding-bottom: 9px;
	padding-left: 56px;
	line-height: 17px;
	background-color: var(--basic-red);
	text-decoration: none;
	position: relative;
}

.logo-technomart::after {
	content: '';
	position: absolute;
	bottom: -5px;
	width: 100%;
	height: 5px;
	background-color: var(--dark-red);
	left: 0;
}

.active-logo:active {
	background-color: var(--special-red);
}

.active-logo.logo-technomart:active::after {
	background-color: var(--red-darker);
}

.search {
	position: relative;
	line-height: 42px;
	width: 270px;
	min-height: 42px;
	border: none;
	background: none;
	align-self: flex-start;
	color: var(--white);
	font-size: 18px;
	padding: 0;
	padding-left: 42px;
	background: url('../img/icons/icon-search-calm.svg') no-repeat;
	background-position: 7% 48%;
}

.search::placeholder {
	font-family: inherit;
	color: var(--white);
}

.search:hover {
	background-image: url('../img/icons/icon-search.svg');
}

.search:focus {
	background-color: var(--white);
	color: var(--black);
	background-image: url('../img/icons/icon-search-focus.svg');
}

.search:focus::placeholder {
	color: var(--black);
}

.header-top-links {
	min-height: 100%;
	margin-left: auto;
	display: flex;
	width: 450px;
	justify-content: flex-end;
}
.header-top-link {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--white);
	position: relative;
	width: 150px;
	min-height: 100%;
	line-height: 42px;
	font-size: 18px;
	flex-grow: 1;
}

.header-bookmarks {
	padding-left: 43px;
}

.header-cart {
	padding-left: 49px;
	flex-grow: 0;
}

.cart-active {
	background-color: var(--basic-red);
	width: 136px;
	padding-left: 35px;
}

.header-order {
	background-color: var(--basic-green);
	text-align: center;
	box-sizing: border-box;
	flex-grow: 0;
}

.header-bookmarks::before,
.header-cart::before {
	content: '';
	position: absolute;
	background-size: cover;
	opacity: 0.3;
	top: 13px;
}

.header-bookmarks::before {
	background: url('../img/icons/icon-bookmark.svg') no-repeat;
	height: 16px;
	width: 14px;
	left: 20px;
}

.header-cart::before {
	background: url('../img/icons/icon-cart.svg') no-repeat;
	height: 15px;
	width: 15px;
	left: 26px;
}

.cart-active.header-cart::before {
	left: 12px;
}

.header-bookmarks:hover::before,
.header-cart:hover::before {
	opacity: 1;
}

.header-order:hover {
	background-color: var(--light-green);
}

.header-bookmarks:active,
.header-cart:active {
	background-color: var(--dark-navy-deeper);
}

.cart-active:active {
	background-color: var(--special-red);
}

.header-bookmarks:active::before,
.header-cart:active::before {
	opacity: 0.3;
}

.header-order:active {
	background-color: var(--basic-green);
}

.header-top-link:active {
	color: var(--shadow-lightgrey);
}

.header-middle {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 43px;
	align-items: flex-start;
}

.header-desc {
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-red);
	width: 200px;
	font-style: italic;
	margin: 0 0 0 30px;
}

.header-contacts {
	margin-top: 3px;
	padding-left: 17px;
}

.header-contacts-inner {
	margin-top: 3px;
	padding-left: 17px;
	margin-left: 17px;
}

.header-phone {
	position: relative;
	margin: 0 auto;
	margin-left: 4px;
	display: block;
	text-decoration: none;
	min-width: 270px;
	min-height: 45px;
	box-sizing: border-box;
	border: 3px solid var(--white);
	padding-top: 7px;
	padding-left: 71px;
	color: var(--basic-red);
	font-size: 21px;
	font-weight: bold;
}

.header-phone::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 36px;
	height: 19px;
	width: 19px;
	background: url('../img/icons/icon-phone.svg') no-repeat;
	background-size: cover;
}

.header-address {
	font-size: 14px;
	text-align: center;
	margin-top: 3px;
	font-style: normal;
	padding: 0;
	padding-left: 5px;
}

.header-log-buttons {
	margin-top: 3px;
}

.header-enter,
.header-registration {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	min-height: 45px;
	line-height: 45px;
	background-color: var(--white);
	color: var(--black);
	font-size: 21px;
	box-sizing: border-box;
}

.header-enter:hover,
.header-registration:hover {
	color: var(--basic-red);
}

.header-enter {
	padding: 0 27px 0 45px;
	position: relative;
	width: 121px;
}

.header-registration {
	margin-left: 5px;
	padding: 0 24px;
	width: 150px;
}

.header-enter::before {
	content: '';
	position: absolute;
	top: 14px;
	left: 18px;
	height: 17px;
	width: 20px;
	background: url('../img/icons/icon-login.svg') no-repeat;
	background-size: cover;
}

.header-enter:hover::before {
	background: url('../img/icons/icon-login-hover.svg') no-repeat;
}

.header-enter:active,
.header-registration:active {
	color: var(--basic-greylight);
}
.header-enter:active::before {
	background: url('../img/icons/icon-login.svg') no-repeat;
}

.header-bottom {
	margin-top: 40px;
}

.header-menu-inner {
	margin-top: -5px;
}


.header-menu-list {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	width: 940px;
}

.header-menu-item {
	flex-grow: 1;
}

.header-menu-link {
	display: block;
	text-decoration: none;
	text-align: center;
	color: var(--white);
	background-color: var(--basic-navy);
	box-shadow: inset 0px -5px 0px var(--dark-navy);
	min-height: 60px;
	font-size: 18px;
	padding-top: 17px;
	box-sizing: border-box;
}


.header-menu-link:hover {
	background-color: var(--dark-navy);
}

.header-menu-link:active {
	background-color: var(--deep-navy);
	color: var(--shadow-lightgrey);
}

/* === / Header === */

/* === Benefits === */

.benefits {
	margin-top: 59px;
}

.benefits-list {
	display: grid;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 123px 123px 123px;
}

.benefit-item {
	font-size: 24px;
	line-height: 30px;
	color: var(--white);
	font-weight: bold;
	padding-left: 23px;
	padding-top: 20px;
	background-repeat: no-repeat;
	min-width: 300px;
	min-height: 123px;
	box-sizing: border-box;
}

.benefit-button {
	display: block;
	width: 135px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
	background-color: var(--lightshadow-lightgrey);
	margin-top: 14px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}

.benefit-button:hover {
	background-color: var(--brown-grey-transparent);
}

.benefit-button:active {
	background-color: var(--dark-grey-transparent);
}

.benefit-materials {
	background-color: var(--special-yellow);
	background-image: url('../img/icons/icon-1.svg');
	background-position: 213px 31px;
}

.benefit-tools {
	background-color: var(--special-blue);
	background-image: url('../img/icons/icon-2.svg');
	background-size: 75px auto;
	background-position: 194px 34px;
	padding-left: 22px;
}

.benefit-technic {
	background-color: var(--special-pink);
	background-image: url('../img/icons/icon-3.svg');
	background-position: 191px 31px;
	padding-left: 22px;
}

.benefit-sale {
	background-color: var(--special-green);
	background-image: url('../img/icons/icon-4.svg');
	background-position: 196px 26px;
}

.benefit-sale .benefit-button {
	margin-top: 12px;
}

.benefit-delivery {
	background-color: var(--special-yellow-dark);
	background-image: url('../img/icons/icon-5.svg');
	background-position: 191px 32px;
	padding-left: 22px;
}

.benefit-delivery .benefit-button {
	margin-top: 13px;
}

.slider {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	position: relative;
	box-sizing: border-box;
	padding-top: 23px;
	padding-left: 24px;
	background-repeat: no-repeat;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-heading {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.slider-desc {
	font-size: 18px;
	line-height: 24px;
	margin-top: 5px;
	font-weight: normal;
}

.slider-1 {
	background-image: url('../img/design/slide-perforators.jpg');
}

.slider-2 {
	background-image: url('../img/design/slide-drills.jpg');
}

.slide {
	display: none;
}

.slide-current {
	display: block;
}

.slider-controls {
	position: absolute;
	top: 123px;
	left: 24px;
	width: 576px;
	display: flex;
	justify-content: space-between;
}

.slider-bullets {
	position: absolute;
	top: 220px;
	left: 295px;
	width: 30px;
	display: flex;
	justify-content: space-between;
}

.slider-switch {
	padding: 0;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	background-color: var(--white);
	border: 2px solid var(--white);
	border-radius: 50%;
	cursor: pointer;
}

.switch-active {
	background-color: var(--basic-red);
}

.slider-button {
	width: 192px;
	margin-top: 113px;
}

.left-control,
.right-control {
	width: 22px;
	height: 40px;
	background-color: transparent;
	border: 0;
	background-image: url('../img/icons/icon-right.svg');
	background-size: cover;
	cursor: pointer;
}

.left-control {
	transform: rotate(180deg);
}

/* === / Benefits === */

/* === Popular Groups === */

.popular-goods {
	margin-top: 59px;
}

.popular-group {
	background-color: var(--special-biege);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 89px;
}

.popular-group-heading {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 29px;
	margin-left: 28px;
	margin-top: 30px;
	color: var(--basic-navy);
	font-weight: normal;
}

.group-button {
	display: block;
	font-family: 'Cuprum', 'Arial', sans-serif;
	background-color: var(--basic-red);
	text-decoration: none;
	color: var(--white);
	min-width: 192px;
	font-size: 14px;
	line-height: 18px;
	padding-top: 11px;
	padding-bottom: 9px;
	text-align: center;
	text-transform: uppercase;
	margin-right: 14px;
	margin-bottom: 2px;
}

.button-manufacturers {
	margin-right: 19px;
}

.group-button:active {
	background-color: var(--special-red);
}

.popular-goods-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.popular-manufacturers {
	margin-top: 70px;
	margin-bottom: 70px;
}

.popular-manufacturers-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: 20px;
	grid-template-columns: 220px 220px 220px 220px;
	grid-template-rows: 145px 145px;
	margin-top: 20px;
}

.manufacturer {
	min-width: 220px;
	min-height: 145px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid var(--border-white);
}

.manufacturer:hover {
	box-shadow: 0px 4px 20px var(--shadow-grey);
}

.manufacturer:active {
	box-shadow: 0px 4px 20px var(--shadow-grey);
	opacity: 0.5;
}

/* === / Popular Groups === */

/* === Services === */

.services {
	background-color: var(--blue-grey);
	padding-top: 65px;
}

.services-desc {
	margin-top: 25px;
	width: 400px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 70px;
}

.services-wrapper {
	display: flex;
}

.services-heading {
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
}

.services-controls {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 240px;
	margin-bottom: 98px;
}

.service-control {
	box-sizing: border-box;
	border: none;
	padding-left: 22px;
	padding-top: 14px;
	padding-bottom: 18px;
	width: 240px;
	text-align: left;
	background-color: var(--basic-navy);
	color: var(--white);
	font-size: 21px;
	line-height: 30px;
	box-shadow: 0px 1px 0px var(--dark-navy), inset 0px 1px 0px var(--shadow-navy);
	cursor: pointer;
}

.services-controls::after {
	position: absolute;
	content: '';
	z-index: 20;
	width: 10px;
	height: 279px;
	right: 0;
	top: -49px;
	background-image: url('../img/design/shadow-service.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.current-service-control {
	background-color: var(--white);
	color: var(--basic-navy);
	box-shadow: 0px 1px 0px var(--white);
}

.services-list {
	width: 630px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 80px;
}

.service-heading {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-top: -2px;
	color: var(--basic-navy);
}

.service-desc {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	width: 280px;
	margin-top: 30px;
}

.delivery,
.guarantee,
.credit {
	position: relative;
}

.delivery::after {
	content: '';
	position: absolute;
	background-image: url('../img/design/transfer.png');
	background-repeat: no-repeat;
	width: 468px;
	height: 261px;
	top: 21px;
	right: 1px;
}

.guarantee .service-desc {
	margin-top: 24px;
	width: 312px;
}

.guarantee::after {
	content: '';
	position: absolute;
	background-image: url('../img/design/guarantee.png');
	background-repeat: no-repeat;
	width: 468px;
	height: 261px;
	top: -2px;
	right: -87px;
}

.credit .service-desc {
	margin-top: 29px;
	margin-bottom: 0;
}

.credit-button {
	font-family: 'Cuprum', 'Arial', sans-serif;
	display: block;
	width: 195px;
	color: var(--white);
	text-align: center;
	line-height: 38px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: var(--basic-red);
	text-decoration: none;
	border-radius: 3px;
	margin-top: 26px;
}

.credit::after {
	content: '';
	position: absolute;
	background-image: url('../img/design/credit.png');
	background-repeat: no-repeat;
	width: 465px;
	height: 285px;
	top: -1px;
	right: -10px;
}

.service {
	display: none;
}

.service-current {
	display: block;
}

/* === / Services === */

/* === Company Info === */

.company-info {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 71px;
	margin-bottom: 70px;
}

.company-desc {
	width: 478px;
}

.contacts {
	width: 300px;
}

.company-desc-heading,
.contacts-heading {
	font-size: 30px;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 24px;
}

.delivery-desc {
	width: 400px;
	margin-top: 27px;
	margin-bottom: 0;
}

.contacts-offer {
	width: 200px;
	padding: 0;
	margin: 0;
}

.contacts-map {
	display: block;
	margin-top: 32px;
}

.transporters-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.transporter {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	padding-left: 37px;
	margin-bottom: 12px;
	position: relative;
}

.transporter::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: var(--basic-red);
	top: 14px;
	left: 0;
}

.transporter:nth-child(2)::before {
	top: 12px;
}

.transporter:nth-child(3)::before {
	top: 10px;
}

.more-info-button {
	width: 220px;
	margin-bottom: 0;
	margin-top: 20px;
}

.contacts-form-button {
	min-width: 100%;
	margin-bottom: 0;
	margin-top: 17px;
}

/* === / Company Info === */

/* === Footer === */

.footer {
	background-color: var(--basic-navy);
	color: var(--white);
}

.footer-top,
.footer-middle,
.footer-bottom .container {
	display: flex;
	flex-wrap: wrap;
}

.footer-link {
	text-decoration: none;
	color: inherit;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-link:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-top-nav,
.footer-middle-nav,
.footer-socials {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-top {
	justify-content: space-between;
}

.footer-top .logo-technomart {
	height: 63px;
	padding-top: 20px;
	padding-right: 41px;
	padding-bottom: 20px;
	padding-left: 41px;
}

.footer-top .footer-link,
.footer-middle .footer-link {
	margin-left: 59px;
}

.footer-top-nav {
	color: var(--cream-white);
	margin-top: 37px;
}

.footer-middle {
	margin-top: 28px;
	justify-content: space-between;
	margin-bottom: 54px;
}

.footer-address {
	color: var(--cream-white);
	font-style: normal;
	padding-left: 2px;
}

.footer-tel {
	padding-left: 3px;
	padding-top: 1px;
}

.footer-middle-nav {
	margin-top: 4px;
}

.footer-middle-nav,
.footer-bottom-contact {
	color: var(--special-yellowlight);
}

.footer-bottom {
	background-color: var(--dark-navy);
	font-size: 16px;
	line-height: 18px;
	padding-top: 35px;
	padding-bottom: 30px;
}

.footer-tel,
.footer-logo,
.footer-social {
	text-decoration: none;
	color: inherit;
}

.copyright {
	width: 227px;
	margin: 0;
	margin-top: 1px;
	margin-left: 2px;
}

.footer-socials {
	margin-left: 161px;
}

.footer-social {
	display: block;
	width: 42px;
	height: 42px;
	background-color: var(--navy-black);
	border-radius: 50%;
	margin-right: 3px;
}

.footer-social:hover {
	background-color: var(--basic-red);
}

.footer-social.vk {
	background-image: url('../img/icons/vk.svg');
	background-repeat: no-repeat;
	background-position: 8px 13px;
}

.footer-social.fb {
	background-image: url('../img/icons/fb.svg');
	background-repeat: no-repeat;
	background-position: 15px 10px;
}

.footer-social.instagram {
	background-image: url('../img/icons/inst.svg');
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.footer-mail {
	margin-left: 116px;
	width: 137px;
}

.footer-developer {
	margin-left: 51px;
	width: 100px;
}

.footer-bottom-contact:active {
	opacity: 1;
	color: var(--basic-red);
}

/* === / Footer === */

/* === INNER (CATALOG) PAGE === */

.profile-actions {
	box-sizing: border-box;
	width: 299px;
	min-height: 77px;
	margin-top: 3px;
}

.profile-wrapper {
	box-sizing: border-box;
	width: 100%;
	background-color: var(--white);
	min-height: 45px;
	padding-left: 57px;
	padding-top: 12px;
}

.profile {
	position: relative;
	text-decoration: none;
	color: var(--black);
	font-size: 21px;
	line-height: 21px;
}

.account-action-link:hover,
.account-action:hover {
	color: var(--basic-red);
}

.profile:active,
.account-action-link:active,
.account-action:active {
	color: var(--basic-greylight);
}

.profile-icon {
	position: absolute;
	width: 20px;
	height: 18px;
	top: 3px;
	left: -42px;
}

.log-out-button {
	position: relative;
	border: none;
	background-color: transparent;
	width: 20px;
	height: 17px;
	margin-left: 15px;
	cursor: pointer;
}

.logout-icon {
	position: absolute;
	top: 1px;
	left: -1px;
}

.logout-icon:hover path,
.profile:hover .profile-icon path {
	fill: var(--fill-navy);
}

.logout-icon:active path,
.profile:active .profile-icon path {
	fill: var(--basic-greylight);
}

.account-actions {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 7px;
}

.account-action:first-child {
	list-style-type: none;
	margin-right: 30px;
}

.account-action {
	font-size: 16px;
	line-height: 18px;
}

.account-action-link {
	text-decoration: none;
	color: var(--basic-navy);
}

.bread-crumbs {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 17px;
}

.bread-crumbs-item {
	position: relative;
	margin-right: 41px;
}

.bread-crumbs-item:first-child .bread-crumbs-link {
	display: inline-block;
	vertical-align: baseline;
	width: 14px;
	height: 12px;
	background-image: url('../img/icons/icon-home.svg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 6px;
}

.bread-crumbs-item:not(:last-child)::after {
	content: '';
	position: absolute;
	right: -25px;
	top: 7px;
	width: 8px;
	height: 12px;
	background-image: url('../img/icons/icon-right-small.svg');
}

.bread-crumbs-link {
	text-decoration: none;
	color: var(--black);
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.perforators-heading {
	display: block;
	background-color: var(--cream-white-2);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-navy);
	padding-left: 30px;
	padding-top: 29px;
	padding-bottom: 30px;
	margin-top: 17px;
}

.catalog-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 59px;
}

/* === Filter === */

.filter {
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	color: var(--black);
	box-sizing: border-box;
	width: 220px;
}

.filter-heading {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	display: block;
	background-color: var(--basic-cream);
	font-weight: normal;
}

.filter-legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.filter-label {
	font-size: 15px;
	line-height: 19px;
	margin-left: 35px;
	cursor: pointer;
	display: block;
	position: relative;
}

.filter-submit {
	font-size: 13px;
	line-height: 18px;
	font-family: inherit;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 38px;
	width: 100%;
	background-color: inherit;
	border: solid 1px var(--special-grey);
	cursor: pointer;
	margin-top: 16px;
}

.filter-item {
	position: relative;
	margin-bottom: 20px;
	margin-top: 0;
}

/* === Price Filter === */

.price-filter-field {
	margin: 0;
	margin-top: 13px;
	padding: 0;
	border: none;
	padding-bottom: 25px;
	border-bottom: solid 1px var(--special-grey);
}

.price-filter-field .filter-legend {
	margin-bottom: 1px;
}

.price-filter {
	width: 220px;
	margin-top: 11px;
}

.price-controls {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.range-controls {
	position: relative;
	height: 41px;
	background-color: var(--basic-cream);
	border-radius: 2px;
	margin-bottom: 9px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 16px;
	line-height: 18px;
}

.range-controls .scale {
	height: 2px;
	background-color: var(--scale-grey);
}

.range-controls .bar {
	height: 2px;
	background-color: var(--scale-green);
	width: 80%;
}

.range-controls .toggle {
	box-sizing: content-box;
	display: flex;
	position: absolute;
	top: 29px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--white);
	background-color: var(--grey-toggle);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--grey-toggle);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 8%;
}

.range-controls .toggle-max {
	left: 72%;
}

.price-input {
	box-sizing: border-box;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 18px;
	width: 95px;
	padding: 10px;
	text-align: center;
	background-color: var(--basic-cream);
	border: none;
	border-radius: 2px;
}

/* === / Price Filter === */

/* === Manufacturers === */

.manufacturers-filter-field {
	margin: 0;
	margin-top: 15px;
	padding: 0;
	border: none;
	padding-bottom: 8px;
	border-bottom: solid 1px var(--special-grey);
}

.manufacturers-filter-field .filter-legend {
	margin-bottom: 18px;
}

.manufacturer-checkbox {
	position: absolute;
	width: 19px;
	height: 19px;
	top: -2px;
	background-color: var(--white);
	border: solid 2px var(--basic-greylight);
	border-radius: 3px;
}

.checked-box {
	position: absolute;
	width: 27px;
	height: 23px;
	top: -2px;
	display: none;
}

.manufacturer-input:checked + .manufacturer-checkbox {
	display: none;
}

.manufacturer-input:checked ~ .checked-box {
	display: block;
}

.manufacturer-input:disabled + .manufacturer-checkbox {
	opacity: 0.3;
	border-color: var(--grey-box);
}

.manufacturer-input:checked:disabled ~ .checked-box path {
	fill: var(--grey-box);
}

.filter-item:hover .manufacturer-input:not(:disabled) + .manufacturer-checkbox {
	border-color: var(--grey-box);
}

.filter-item:hover .manufacturer-input:not(:disabled):checked ~ .checked-box path {
	border-color: var(--grey-box);
	fill: var(--grey-box);
}

/* === / Manufacturers === */

/* === Power Filter === */

.power-filter-field {
	margin: 0;
	margin-top: 17px;
	padding: 0;
	border: none;
}

.power-filter-field .filter-legend {
	margin-bottom: 24px;
}

.power-filter-field .filter-item {
	margin-bottom: 22px;
}

.power-checkbox {
	position: absolute;
	width: 17px;
	height: 17px;
	top: -2px;
	background-color: var(--white);
	border: solid 4px var(--basic-greylight);
	border-radius: 50%;
}

.power-input:checked + .power-checkbox {
	background-color: var(--basic-greylight);
	box-shadow: 0 0 0 4px var(--white) inset;
}

.power-input:disabled + .power-checkbox {
	opacity: 0.3;
	border-color: var(--grey-box);
}

.power-input:checked:disabled + .power-checkbox {
	opacity: 0.3;
	border-color: var(--grey-box);
	background-color: var(--grey-box);
}

.filter-item:hover .power-input:not(:disabled) + .power-checkbox {
	border-color: var(--grey-box);
}

.filter-item:hover .power-input:checked:not(:disabled) + .power-checkbox {
	border-color: var(--grey-box);
	background-color: var(--grey-box);
}

/* === / Power Filter === */

/* === / Filter === */

/* === Catalog Inner === */

/* === Sorting === */

.sort {
	display: flex;
	flex-wrap: wrap;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-cream);
	text-transform: uppercase;
	min-height: 38px;
	align-items: center;
	width: 700px;
}

.sort-heading {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	margin-left: 19px;
	max-width: 150px;
}

.sort-types {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: 140px;
}

.sort-type-link {
	text-decoration: none;
	color: var(--black-transparent);
	border-bottom: dotted 1px var(--basic-red);
}

.sort-type-link:not(.sorted-by):hover {
	color: var(--black);
	border-bottom-style: solid;
}

.sorted-by {
	color: var(--basic-red);
	border: none;
}

.sorted-by-icon path {
	fill: var(--basic-red);
}

.sort-type:nth-child(2) {
	margin-left: 70px;
}

.sort-type:nth-child(3) {
	margin-left: 65px;
}

.sort-icons {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: 46px;
}

.sort-icon-item:last-child {
	margin-left: 21px;
}

.sort-icon:not(.sorted-by-icon):hover path {
	fill: var(--black);
}

/* === / Sorting === */

.catalog-list {
	padding: 0;
	list-style: none;
	margin: 0;
	margin-top: 28px;
	display: grid;
	grid-gap: 18px 20px;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
}

/* === Catalog Card === */

.catalog-item {
	position: relative;
	font-family: 'PT Sans', 'Arial', sans-serif;
	border: 1px solid var(--border-white);
	width: 220px;
	min-height: 318px;
	box-sizing: border-box;
	text-align: center;
}

.image-wrapper {
	min-height: 168px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.catalog-item-link {
	text-decoration: none;
	color: var(--black);
	display: flex;
	flex-direction: column;
	min-height: 148px;
}

.product-name {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	width: 185px;
	margin: 0;
	margin-left: 17px;
	margin-top: 11px;
	margin-right: 18px;
}

.old-price {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: line-through;
	color: var(--grey);
	margin-top: 7px;
}

.current-price {
	box-sizing: border-box;
	display: block;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	background-image: url('../img/icons/red-button.svg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 10px;
	padding-right: 7px;
	width: 141px;
	min-height: 38px;
	color: var(--white);
	margin-top: auto;
	margin-left: 44px;
	margin-bottom: 20px;
	text-align: start;
	padding-left: 32px;
}

.product-actions {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 168px;
	padding-top: 37px;
	padding-right: 43px;
	padding-left: 40px;
	background-color: var(--white);
	z-index: 10;
	display: none;
}

.catalog-item:hover .product-actions {
	display: block;
}

.catalog-item:hover {
	box-shadow: 0px 4px 20px var(--shadow-grey);
}

.to-buy-button,
.to-bookmarks-button {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;
	min-height: 38px;
	box-sizing: border-box;
}

.to-buy-button {
	color: var(--white);
	background: var(--basic-green);
	box-shadow: inset 0px -3px 0px var(--dark-green);
	padding: 10px 0;
}

.to-bookmarks-button {
	margin-top: 10px;
	color: var(--basic-navy);
	border: 3px solid var(--basic-green);
	padding-top: 9px;
}

.to-buy-button:hover {
	background-color: var(--light-green);
}

.to-buy-button:active {
	background-color: var(--military-green);
}

.to-bookmarks-button:hover {
	border-color: var(--basic-navy);
}

.to-bookmarks-button:active {
	border-color: var(--basic-navy);
	opacity: 0.5;
}

/* === / Catalog Card === */

/* === Pagination === */

.catalog-pagination {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 48px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 284px;
	min-height: 38px;
}

.page-link {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	min-width: 38px;
	text-align: center;
	padding: 9px 14px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--black);
	border: 1px solid var(--special-grey);
	border-radius: 3px;
	box-sizing: border-box;
}

.next-page {
	width: 140px;
}

.page-link:not(.current-page):hover {
	border-color: var(--basic-greylight);
}

.page-link:not(.current-page):active {
	border-color: var(--basic-red);
}

.pagination-item:not(:first-child) {
	margin-left: 10px;
}

.current-page {
	color: var(--white);
	background-color: var(--basic-red);
	border-color: var(--basic-red);
}

/* === / Pagination === */

.about-perforators {
	background-color: var(--blue-grey);
	padding-top: 64px;
	padding-bottom: 70px;
}

.about-perforators-heading {
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	color: var(--black);
	text-transform: uppercase;
	font-weight: normal;
}

.about-perforators-desc {
	padding: 0;
	margin: 0;
	margin-top: 25px;
	width: 907px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: var(--black);
}

/* / === Catalog Inner === */

/* === POP UP ELEMENTS === */

.popup {
	box-shadow: 0px 20px 40px var(--shadow-grey), inset 0px 7px 0px 0px var(--basic-red),
		inset 0px -112px 0px 0px var(--shadow-white);
	z-index: 100;
	box-sizing: border-box;
	background-color: var(--white);
}

/* === Pop Up Form === */

.contact-form-window {
	bottom: auto;
	top: 50%;
	margin-top: -230px;
	width: 620px;
	min-height: 430px;
	padding-left: 80px;
	padding-right: 80px;
}

.close-button {
	position: absolute;
	top: 21px;
	right: 11px;
	width: 21px;
	height: 21px;
	border: none;
	background-color: transparent;
	background-image: url('../img/icons/icon-close.svg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 30;
}

.close-button:hover {
	cursor: pointer;
}

.form-input {
	box-sizing: border-box;
	min-height: 38px;
	border-radius: 2px;
	border: 2px solid var(--basic-greylight);
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	padding-left: 12px;
	background-color: transparent;
	width: 220px;
	margin-top: 11px;
}

.contact-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 46px;
}

.form-field {
	box-sizing: border-box;
	width: 220px;
	margin: 0;
}
.form-question {
	width: 100%;
	margin-top: 13px;
}

.form-question .form-input {
	box-sizing: border-box;
	width: 100%;
	min-height: 114px;
	resize: none;
	padding-top: 9px;
	padding-left: 10px;
}

.form-submit {
	border: none;
	width: 100%;
	margin-top: 67px;
	margin-right: 0;
}

/* === / Pop Up Form === */

/* === Big Map === */

.big-map {
	top: 50%;
	margin-top: -222px;
	width: 943px;
	height: 443px;
	z-index: 100;
}

.big-map::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 7px;
	background-color: var(--basic-red);
	top: 0;
	z-index: 25;
}

.iframe-map {
	position: relative;
	z-index: 20;
}

.image-map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

/* / === Big Map === */

/* === Cart Pop-Up === */

.added-to-cart {
	bottom: auto;
	top: 50%;
	margin-top: -142px;
	width: 620px;
	min-height: 283px;
	background-image: url('../img/icons/icon-mark.svg');
	background-repeat: no-repeat;
	background-size: 66px 66px;
	background-position: 81px 55px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	padding-top: 74px;
	text-align: center;
	z-index: 100;
}

.added-to-cart .close-button {
	top: 19px;
}

.cart-actions {
	box-sizing: border-box;
	margin-top: 104px;
	margin-left: 114px;
	margin-right: auto;
	width: 394px;
	display: flex;
	justify-content: space-between;
}

.cart-actions .group-button {
	width: 192px;
	margin: 0;
}

.resume-shopping {
	border: none;
	color: var(--black);
	background-color: var(--white);
	cursor: pointer;
}

.resume-shopping:active {
	opacity: 0.5;
	color: var(--black);
	background-color: var(--white);
}

/* === / Cart Pop-Up === */

/* === Animations === */

@keyframes zoom {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes zoom-out {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

/* === / Animations === */
