:root {
	--basic-red: #ee3643;
	--special-red: #ba2732;

	--basic-green: #63a63e;
	--light-green: #5fbb2d;
	--dark-green: #367315;
	--military-green: #518534;

	--basic-greylight: #c5c5c5;
	--white: #ffffff;
	--cream-white: #f3f7f9;
	--cream-white-2: #f2f6f8;
	--basic-cream: #f7f3ec;
	--light-grey: #f3f7f8;
	--special-grey: #e5e5e5;
	--special-biege: #f9f5f0;
	--grey: #a9a9a9;
	--blue-grey: #f1f5f7;

	--special-yellowlight: #ffd180;

	--basic-navy: #32425c;
	--dark-navy: #293449;
	--deep-navy: #1d2739;
	--dark-navy-deeper: #161d29;
	--black: #000000;
}

body {
	min-width: 940px;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	background-color: var(--white);
	line-height: 24px;
}

img {
	max-width: 100%;
	height: auto;
}

/* === Basic Wrapper === */

.container {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}
/* === / Basic Wrapper === */

/* === Visually Hidden Objects === */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* === / Visually Hidden Objects === */

/* === Modal Windows === */

.added-to-cart,
.contact-form,
.big-map {
	display: none;
}

/* === / Modal Windows === */

/* === Header === */

.header {
	background-color: var(--light-grey);
}
.header-line {
	width: 100%;
	background-color: var(--dark-navy);
	height: 42px;
}

.header-top {
	display: flex;
	align-items: flex-start;
}

.logo-technomart {
	padding: 12px 56px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	text-decoration: none;
}

.logo-technomart:active {
	background-color: var(--special-red);
}

.search {
	position: relative;
	line-height: 42px;
	width: 271px;
	height: 42px;
	border: none;
	background: none;
	align-self: flex-start;
	color: var(--white);
	font-size: 18px;
	padding-left: 42px;
	background: url('../img/icons/icon-search-calm.svg') no-repeat;
	background-position: 7% 48%;
}

.search::placeholder {
	font-family: inherit;
	color: var(--white);
}

.search:hover {
	background-image: url('../img/icons/icon-search.svg');
}

.search:focus {
	background-color: var(--white);
	color: var(--black);
	background-image: url('../img/icons/icon-search-focus.svg');
}

.search:focus::placeholder {
	color: var(--black);
}

.header-top-links {
	height: 100%;
	margin-left: auto;
	display: flex;
	width: 450px;
	justify-content: space-between;
}
.header-top-link {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--white);
	position: relative;
	width: 150px;
	height: 100%;
	line-height: 42px;
	font-size: 18px;
	flex-grow: 1;
}

.header-bookmarks {
	padding-left: 43px;
}

.header-cart {
	padding-left: 49px;
}

.header-order {
	background-color: var(--basic-green);
	text-align: center;
}

.header-bookmarks::before,
.header-cart::before {
	content: '';
	position: absolute;
	background-size: cover;
	opacity: 0.3;
	top: 13px;
}

.header-bookmarks::before {
	background: url('../img/icons/icon-bookmark.svg') no-repeat;
	height: 16px;
	width: 14px;
	left: 20px;
}

.header-cart::before {
	background: url('../img/icons/icon-cart.svg') no-repeat;
	height: 15px;
	width: 15px;
	left: 26px;
}

.header-bookmarks:hover::before,
.header-cart:hover::before {
	opacity: 1;
}

.header-order:hover {
	background-color: var(--light-green);
}

.header-bookmarks:active,
.header-cart:active {
	background-color: var(--dark-navy-deeper);
}

.header-bookmarks:active::before,
.header-cart:active::before {
	opacity: 0.3;
}

.header-order:active {
	background-color: var(--basic-green);
}

.header-top-link:active {
	color: rgba(255, 255, 255, 0.5);
}

.header-middle {
	display: flex;
	justify-content: space-between;
	margin-top: 43px;
	align-items: flex-start;
}

.header-desc {
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-red);
	width: 200px;
	font-style: italic;
	margin: 0 0 0 30px;
}

.header-contacts {
	margin-top: 3px;
	padding-left: 17px;
}

.header-phone {
	position: relative;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	width: 270px;
	height: 45px;
	box-sizing: border-box;
	border: 3px solid var(--white);
	padding-top: 7px;
	padding-left: 73px;
	color: var(--basic-red);
	font-size: 21px;
	font-weight: bold;
}

.header-phone::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 38px;
	height: 19px;
	width: 19px;
	background: url('../img/icons/icon-phone.svg') no-repeat;
	background-size: cover;
}

.header-address {
	font-size: 14px;
	text-align: center;
	margin-top: 7px;
	font-style: normal;
	padding: 0 5px;
}

.header-log-buttons {
	margin-top: 3px;
}

.header-enter,
.header-registration {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	height: 45px;
	line-height: 45px;
	background-color: var(--white);
	color: var(--black);
	font-size: 21px;
	box-sizing: border-box;
}

.header-enter:hover,
.header-registration:hover {
	color: var(--basic-red);
}

.header-enter {
	padding: 0 27px 0 45px;
	position: relative;
	width: 121px;
}

.header-registration {
	margin-left: 5px;
	padding: 0 24px;
	width: 150px;
}

.header-enter::before {
	content: '';
	position: absolute;
	top: 14px;
	left: 18px;
	height: 17px;
	width: 20px;
	background: url('../img/icons/icon-login.svg') no-repeat;
	background-size: cover;
}

.header-enter:hover::before {
	background: url('../img/icons/icon-login-hover.svg') no-repeat;
}

.header-enter:active,
.header-registration:active {
	color: var(--basic-greylight);
}
.header-enter:active::before {
	background: url('../img/icons/icon-login.svg') no-repeat;
}

.header-bottom {
	margin-top: 43px;
}

.header-menu-list {
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;
}

.header-menu-item {
	flex-grow: 1;
}

.header-menu-link {
	display: block;
	text-decoration: none;
	text-align: center;
	color: var(--white);
	background-color: var(--basic-navy);
	box-shadow: inset 0px -5px 0px var(--dark-navy);
	height: 60px;
	font-size: 18px;
	padding-top: 19px;
	box-sizing: border-box;
}

.header-menu-link:hover {
	background-color: var(--dark-navy);
}

.header-menu-link:active {
	background-color: var(--deep-navy);
	color: rgba(255, 255, 255, 0.5);
}

/* === / Header === */

/* === Benefits === */

.benefits-list {
	display: grid;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 123px 123px 123px;
}

.slider {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
}

/* === / Benefits === */

/* === Popular Groups === */

.popular-group {
	background-color: var(--special-biege);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popular-group-heading {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 30px;
	color: var(--basic-navy);
	font-weight: normal;
}

.popular-group-button {
	background-color: var(--basic-red);
	text-decoration: none;
	color: var(--white);
	width: 192px;
	height: 38px;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
}

.popular-goods-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: 20px;
	grid-template-columns: auto auto auto auto;
}

.popular-manufacturers-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: 20px;
	grid-template-columns: 220px 220px 220px 220px;
	grid-template-rows: 145px 145px;
}

/* === / Popular Groups === */

/* === Services === */

.services {
	background-color: var(--blue-grey);
}

.services-wrapper {
	display: flex;
}

.credit-button {
	font-family: 'Cuprum', 'Arial', sans-serif;
	display: block;
	color: var(--white);
	text-align: center;
	line-height: 38px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: var(--basic-red);
	text-decoration: none;
}

/* === / Services === */

/* === Company Info === */

.company-info {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	display: flex;
}

.company-desc-heading,
.contacts-heading {
	font-size: 30px;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
}

.transporters-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.transporter {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

.company-info .button {
	font-family: 'Cuprum', 'Arial', sans-serif;
	display: block;
	color: var(--white);
	text-align: center;
	line-height: 38px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: var(--basic-red);
	text-decoration: none;
}

/* === / Company Info === */

/* === Footer === */

.footer {
	background-color: var(--basic-navy);
	color: var(--white);
}

.footer-top,
.footer-middle,
.footer-bottom .container {
	display: flex;
}

.footer-link {
	text-decoration: none;
	color: inherit;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-link:active {
	opacity: 0.5;
}

.footer-top-nav,
.footer-middle-nav,
.footer-socials {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.footer-top-nav {
	color: var(--cream-white);
}

.footer-middle-nav,
.footer .footer-bottom-contact {
	color: var(--special-yellowlight);
}

.footer-bottom {
	background-color: var(--dark-navy);
	font-size: 16px;
	line-height: 18px;
}

.footer-address {
	color: var(--cream-white);
	font-style: normal;
}

.footer-tel,
.footer-logo,
.footer-social {
	text-decoration: none;
	color: inherit;
}

/* === / Footer === */

/* === INNER PAGE === */

.bread-crumbs {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.bread-crumbs-item {
	margin-right: 10px;
}

.bread-crumbs-link {
	text-decoration: none;
	color: var(--black);
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.perforators-heading {
	display: block;
	background-color: var(--cream-white-2);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-navy);
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.catalog-wrapper {
	display: flex;
	justify-content: space-between;
}

/* === Filter === */

.filter {
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	color: var(--black);
}

.filter-heading {
	font-size: 13px;
	line-height: 18px;
	display: block;
	background-color: var(--basic-cream);
	font-weight: normal;
}

.filter-legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.filter-label {
	font-size: 15px;
	line-height: 19px;
}

.filter-submit {
	font-size: 13px;
	line-height: 18px;
	font-family: inherit;
	text-transform: uppercase;
	display: block;
	width: 100%;
	background-color: inherit;
	border: solid 1px var(--special-grey);
}

/* === / Filter === */

/* === Catalog Inner === */

.sort {
	display: flex;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-cream);
	text-transform: uppercase;
}

.sort-heading {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}

.sort-types {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.sort-type-link {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
	padding: 0;
	list-style: none;
	margin: 0;
	display: grid;
	gap: 18px 20px;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
}

.catalog-item {
	font-family: 'PT Sans', 'Arial', sans-serif;
	width: 220px;
	height: 318px;
	box-sizing: border-box;
}

.catalog-item-link {
	text-decoration: none;
	color: var(--black);
}

.product-name {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

.old-price {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: line-through;
	color: var(--grey);
}

.current-price {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	background-color: var(--basic-red);
	color: var(--white);
}

.product-actions {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.to-buy-button {
	color: var(--white);
	background: var(--basic-green);
	box-shadow: inset 0px -3px 0px var(--dark-green);
	text-decoration: none;
	text-transform: uppercase;
}

.to-buy-button:hover {
	background-color: var(--light-green);
}

.to-buy-button:active {
	background-color: var(--military-green);
}

.to-bookmarks-button {
	color: var(--basic-navy);
	text-decoration: none;
	text-transform: uppercase;
	border: 3px solid #63a63e;
	border-radius: 2px;
}

.to-bookmarks-button:hover {
	border-color: var(--basic-navy);
}

.to-bookmarks-button:active {
	border-color: var(--basic-navy);
	opacity: 0.5;
}

.catalog-pagination {
	display: flex;
	justify-content: space-between;
	width: 284px;
	height: 38px;
}

.page-link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 38px;
	color: var(--black);
	border: 1px solid var(--special-grey);
	border-radius: 2px;
	box-sizing: border-box;
}

.about-perforators {
	background-color: var(--blue-grey);
}

.about-perforators-heading {
	font-size: 30px;
	line-height: 30px;
	color: var(--black);
	text-transform: uppercase;
	font-weight: normal;
}

.about-perforators-desc {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: var(--black);
}

/* / === Catalog Inner === */
